* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Segoe UI", system-ui, sans-serif;
}

body {
  background: #0f172a;
  color: #e5e7eb;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 6px;
}
